
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if the user is authenticated
    function isSignedIn() {
      return request.auth != null;
    }

    // Helper function to check if the user is the owner of the resource being accessed
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    // Rules for the 'quotes' collection
    match /quotes/{quoteId} {
      allow list: if isSignedIn() && request.query.where.userId == request.auth.uid;
      allow get: if isSignedIn() && isOwner(resource.data.userId);
      allow create, update, delete: if isSignedIn() && isOwner(request.resource.data.userId);
    }
    
    // Rules for the 'materials' collection
    match /materials/{materialId} {
      allow list: if isSignedIn();
      allow get: if isSignedIn() && isOwner(resource.data.userId);
      allow write: if isSignedIn() && isOwner(request.resource.data.userId);
    }
  }
}
